.call_controls {
    color: var(--text-secondary);
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.call_controls_call {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--call-btn);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    cursor: pointer;
}

.call_controls_call:hover {
    background-color: var(--call-btn-hover);
}

.call_controls_call:active {
    background-color: var(--call-btn);
}

.call_controls>div {
    cursor: pointer;
}

.call_controls>div {
    position: relative;
}

.call_controls>div::after {
    content: attr(data-tooltip);
    /* Tooltip text */
    position: absolute;
    top: -30%;
    left: -30%;
    /* Move it to the right */
    transform: translateY(-50%);
    background-color: var(--text-secondary);
    color: var(--bg-primary);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}


/* Show tooltip when hovering */

.call_controls>div:hover::after {
    opacity: 1;
    visibility: visible;
}