.message_list {
    width: 100%;
    height: 568px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.message {
    color: var(--bg-primary);
    display: flex;
    width: 90%;
    margin: auto;
}

.message>p {
    background-color: var(--bg-button);
    padding: 12px 12px;
    word-wrap: break-word;
}

.message:last-child {
    margin-bottom: 20px;
}

.received>p {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    max-width: 80%;
}

.sent>p {
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    max-width: 80%;
}

.received {
    justify-content: flex-start;
    align-self: flex-start;
}

.sent {
    justify-content: flex-end;
    align-self: flex-end;
}