.sidebar {
    background-color: var(--bg-sidebar);
    color: var(--text-secondary);
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 300px;
    width: 100%;
    padding: 40px 25px;
    position: relative;
    border-right: 1px solid var(--border-color);
}

.main_side_bar {
    height: 100%;
}

.sidebar__logo {
    margin-bottom: 20px;
    cursor: pointer;
}

.sidebar_input {
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 40px;
}

.sidebar_input>input {
    background-color: var(--bg-sidebar);
    color: var(--text-secondary);
    font-size: 16px;
    border: none;
    padding: 12px 10px;
}

.sidebar_input>input::placeholder {
    color: var(--text-secondary);
}

.sidebar_input>input:focus {
    outline: none;
}

.sidebar_input>svg:hover {
    cursor: pointer;
    color: var(--text-primary);
}


/* .sidebar__menu-container {} */

.sidebar__menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar__menu-item {
    display: flex;
    gap: 16px;
}

.sidebar__menu-item:hover {
    color: var(--bg-button);
    cursor: pointer;
    width: fit-content;
}

.sidebar__logout-btn {
    width: 90%;
    padding: 12px 14px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    background: var(--bg-button);
    margin: auto;
    position: absolute;
    bottom: 40px;
    left: 5%;
    cursor: pointer;
}

.sidebar__logout-btn:hover {
    opacity: 0.6;
}

.sidebar__logout-btn:active {
    opacity: 1;
}

@media (max-width: 1130px) {
    .sidebar_input>input {
        background-color: var(--bg-sidebar);
        color: var(--text-secondary);
        font-size: 16px;
        border: none;
        padding: 12px 10px;
        width: 130px;
    }
}

.side_bar_toggle {
    display: none;
}

.hidden_side_bar {
    display: none;
    padding: 0px 10px;
}

@media (max-width: 1000px) {
    .main_side_bar {
        display: none;
    }
    .sidebar {
        padding: 20px 3px;
        align-items: center;
        width: fit-content;
        height: 100%;
    }
    .side_bar_toggle {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }
    .sidebar__logo {
        width: 100%;
        display: flex;
        justify-content: end;
        margin-top: 10px;
    }
    .hidden_side_bar {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 10000;
        background-color: var(--bg-sidebar);
        border-right: 1px solid var(--border-color);
        height: 100%;
    }
}

.side_bar_toggle>button {
    font-size: 34px;
}

@media (max-width: 550px) {
    .side_bar_toggle {
        display: flex;
        margin-left: 2px;
        margin-right: 2px;
    }
    .side_bar_toggle>button {
        font-size: 24px;
    }
}

.side_bar_toggle>button {
    color: var(--text-secondary);
    background-color: inherit;
    border: none;
}