    .video_call_section {
        width: 67%;
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
        max-width: 850px;
    }
    
    .video_title {
        display: flex;
        gap: 10px;
        color: var(--bg-button);
        margin-bottom: 14PX;
    }
    
    .video_title>p {
        color: var(--text-secondary);
    }
    
    @media (max-width: 900px) {
        .video_call_section {
            width: 100%;
        }
    }
    
    @media (max-width: 500px) {
        .video_call_section {
            padding: 0px 4px;
        }
    }