.video_card_container {
    width: 100%;
    max-width: 850px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}

.video_card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 260px;
}

.video_card>img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}

.video_card>p {
    color: var(--bg-primary);
    position: absolute;
    bottom: 30px;
    left: 30px;
}

@media (max-width: 600px) {
    .video_card:first-child {
        height: 100%;
    }
    .video_card:last-child {
        position: absolute;
        width: 120px;
        height: 200px;
        top: 0px;
        left: 0px;
        z-index: 50;
    }
    .video_card>img {
        height: 100%;
    }
    .video_card>p {
        display: none;
    }
}